@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

html {
  font-family: "Space Mono", monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.input-btn {
  @apply w-full block bg-veryLightGrayishGyan text-[24px] font-bold text-right py-2 px-3 rounded-md focus:border-2 focus:border-StrongCyan focus:outline-none;
}

.tip-btn {
  @apply w-36 font-bold bg-veryDarkCyan text-[24px] rounded-md py-2 text-veryLightGrayishGyan;
}
.tip-btn.active{
  background-color: hsl(172, 67%, 45%);
  color: black;
}
.labels{
  @apply text-lg text-darkGrayishCyan mb-4 capitalize;
}
#no-of-people.error{
  border: 2px solid rgba(255, 0, 0, 0.8);
}
#reset-btn.active{
  background-color: hsl(172, 67%, 45%);
  opacity: 1;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
